* {
    padding: 0;
    margin: 0;
}

.slider {
    background-color: blueviolet;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: cyan;
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.main {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
}

.article {
    background-color: white;
    border: 1px solid black;
    height: 40%;
    width: 40%;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
}